@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab:400,700');

*{
  box-sizing: border-box;
}
html, body{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto';
  text-align: center;
  width: 100vw;
  min-width: 480px;
  height: 100vh;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
}
body > *{
  width: 80%;
  max-width: 300px; 
}
h1{
  font-family: 'Roboto Slab';
  font-weight: 700;
  margin: 10px 0;
  margin-top: 60px;
}
ul{
  list-style: none;
  padding: 0;
  
  display: flex;
  flex-flow: column nowrap;
}
ul li{
  font-family: 'Roboto Condensed';
  margin: 5px;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}
a{
  color: #3f51b5;/*66f*/
  background: #eef;/*f88*/
  padding: 8px;
  border: 1px solid;
  border-radius: 8px;
  text-decoration: none;
}
