@import url('https://fonts.googleapis.com/css?family=Roboto:400,900i|Roboto+Mono&display=swap');
/*
@font-face{
    font-family: "Roboto";
    src: url("fonts/regular/Roboto.ttf");
}
@font-face{
	font-family: "Roboto Mono";
	src: url("fonts/regular/RobotoMono.ttf");
}
@font-face{
    font-family: "Roboto Black Italic";
    src: url("fonts/Roboto-BlackItalic.ttf");
}
*/
:root{
	--color: #AAA;
}

*{
	box-sizing: border-box;
}
html,body{
	margin: 0;
	padding: 0;
}
body{
	height: 100vh;/*calc(100vh - 16px)*/
	width: 100vw;/*calc(100vw - 8px)*/
	font-family: 'Roboto';
	font-weight: 400;
	box-sizing: border-box;
	
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto';
	font-weight: 900;
	text-transform: uppercase;
}

header, .main-wrapper, footer{
	width: 80%;
	box-sizing: border-box;
	box-shadow: 0 0 3px -1px rgba(0,0,0,0.6), 0 0 8px -2px rgba(0,0,0,0.3);
}
header, footer{
	background: #EEE;
}
header{
	padding: 0px 20px;
	//border-bottom: 1px solid #DDD;
	border-radius: 0 0 5px 5px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
header h1{
	margin: 10px 0;
}

.main-wrapper{
	/*border: 1px solid #DDD;*/
	border-radius: 5px;
	padding: 0;
	box-shadow: 0 0 3px -1px rgba(0,0,0,0.7), 0 0 8px -2px rgba(0,0,0,0.3);
	
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: stretch;
}
.main-container{
	//box-shadow: 0 0 3px -1px rgba(0,0,0,0.6), 0 0 8px -2px rgba(0,0,0,0.3);
	
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: stretch;
}
.main-div{
	width: 50%;
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bar{
	padding: 0;
	background: #DDD;
}
.ver.bar{
	width: 1px;
}
.hor.bar{
	height: 1px;
	width: auto;
}
/*
.hor#div-bar{
	background: #444;
}
*/

#controls{
	min-height: 150px;
	
	flex-flow: column nowrap;
}
.sliderDiv{
	height: 40px;
	width: auto;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.sliderDiv *{
	margin: 0 5px;
}
.slider{
	-webkit-appearance: none;
	width: 256px;
	height: 2px;
	margin: 5px 10px;
	opacity: 1;
	border-radius: 2px;
	outline: none;
}
.slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	cursor: pointer;
	width: 14px;
	height: 14px;
	border-radius: 11px;
	box-shadow: 0 2px 6px -2px rgba(0,0,0,0.5);
	background: #FFF;
	outline: none;
}
/*
.slider::-webkit-slider-runnable-track{
	//position: absolute;
	width: 100px;
	height: 2px;
	background: transparent;
	opacity: 1;
	align-self: center;
}
*/
#rSlider, #rSlider::-webkit-slider-thumb{
	background: #dd2222;
}
#gSlider, #gSlider::-webkit-slider-thumb{
	background: #22DD22;
}
#bSlider, #bSlider::-webkit-slider-thumb{
	background: #2222DD;
}

.rgbOut{
	width: 3ch;
	font-family: 'Roboto Mono';
	text-align: right;
	border-bottom: 1px solid #CCC;
}

#color-box{
	box-sizing: border-box;
	width: 150px;
	height: 150px;
	margin-right: 20px;
	background: var(--color);
	border: 1px solid #CCC;
	border-radius: 4px;
}
#color-text div{
	margin: 10px 0;
}
.bolded{
	margin: 2px 0;
	font-weight: bold;
}
.value{
	width: auto;
	padding: 0 0.5ch;
	background: #EEE;
	border-radius: 3px;
	font-family: 'Roboto Mono';
}
#hex{
	width: 7ch;
}

#presetSpanDiv{
	width: 100%;
	padding: 0;
	box-shadow: inset 0 2px 6px rgba(0,0,0,0.7);
}
#presetSpan{
	background: #DDD;
	padding: 3px;
	//box-shadow: inset 0 1px 6px -4px rgba(0,0,0,0.7);
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	flex: 2 1 auto;
}
a#materialPalette{
	text-decoration: none;
	text-transform: lowercase;
	color: #9c27b0;//#a4ffa4;
}

#preset-div{
	height: auto;
	width: 100%;
	padding: 0;
	overflow-x: auto;
	
	diaplay: flex;
	flex-flow: column nowrap;
	justify-content: start;
	align-items: start;
}
#presets{
	display: inline-flex;
	//background: #EEE;
}
.preset-color{
	width: 80px;
	height: 100px;
	padding: 0;
	border-right: 1px solid #DDD;
	
	display: flex;
	flex-flow: column nowrap;
}
.preset-color:last-child{
	border-right: none;
}
.preset-color-box{
	margin: 7px;
	height: 66px;
	width: 66px;
	//background: #EEE;
	//border: 1px solid #DDD;
	border-radius: 5px;
}
.preset-color-name{
	font-size: 11px;
	height: 15px;
	text-transform: uppercase;
	
	display: flex;
	justify-content: center;
	align-items: center;
}


footer{
	padding: 5px 20px;
	box-sizing: border-box;
	border-radius: 5px 5px 0 0;
	
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}
footer i.fa-heart{
	color: #FF0000;
}

@media(max-width: 768px){
	body{
		font-size: 16px;
	}
	header, .main-wrapper, footer{
		width: 88%;
	}
	.main-container{
		flex-flow: column nowrap;
		justify-content: center;
	}
	.main-div{
		width: auto;
	}
	.bar, .ver.bar{
		height: 1px;
		width: 100%;
	}
}
