

*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    padding: 18px;
    font-size: 16px;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
}

div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
}

label, input{
    border: 1.4px solid #ccc;
}
label.invalid, input.invalid{
    border-color: #af504c;
}
label.valid, input.valid{
    border-color: #4caf50;
}
label{
    font-weight: bold;
    padding: 6px;
    background: #f6f6f6;
    border-radius: 6px 6px 0 0;
}
input{
    font-size: 16px;
    padding: 6px;
    border-top: none;
    border-radius: 0 0 6px 6px;
    flex: 2 1 auto;
}
input:hover, input:focus{
    outline: none;
    background: #e6e6e6;
}

input.invalid{
    background: rgba(176,80,77,0.2);
}
input.valid{
    background: rgba(77,176,80,0.2);
}

#validEmailP{
    padding: 8px;
    color: #777;
    background: #f2f2f2;
    border-radius: 6px;
    font-family: 'Monospace';
    font-size: 14px;
    overflow-wrap: break-word;
}
#validEmailP.invalid{
    color: #8d4c40;/*#af504c;*/
    background: rgba(176,80,77,0.15);
}
#validEmailP.valid{
    color: green;/*#4caf50;*/
    background: rgba(77,176,80,0.15);
}

#validEmailP pre{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

@media(min-width: 600px){
	body{
		width: 520px;
		margin: auto;
	}
}
