/*
** Created by:
** Hanuma Ukkadapu
*/

@font-face {
    font-family: "Roboto";
    src: url("./src/fonts/Roboto.ttf");
}

@font-face {
    font-family: "Roboto Black";
    src: url("./src/fonts/Roboto-Black.ttf");
}

:root {
    --lbl-bg: #cfe2ff;
    --lbl-act-bg: #98c8ff;
    /* bar vars */
    --barW: 10px;
    --barM: 5px 1px;
    /* colorInfo div vars */
    --ci-bg: #fff;
    --ci-brd-clr: #aaa;
    --ci-box-shd: 0 0 6px -1px rgba(0, 0, 0, 0.35);
    /* Bars colors */
    --unsorted: #ffb166;
    --current: #6469b3;
    /*blue*/
    --low: #ff7c75;
    /*red*/
    --high: #8798ed;
    /*blue1*/
    --pivot: #6469a4;
    /*64b369-green;6469b3-blue*/
    --currI: var(--high);
    --min: var(--low);
    --max: var(--low);
    --swap: #444;
    /*gray*/
    --sorted: #78ed87;
    /*lightGreen*/
}

* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

.flex-cc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    flex-flow: column nowrap;
}

html,
body {
    margin: 0;
    padding: 0;
}

body.col {
    width: 100vw;
    height: 100vh;
    max-width: 480px;
    margin: 0 auto;
    padding: 8px;
    font-family: 'Roboto';
    overflow: scroll;
    justify-content: center;
    align-items: stretch;
}

header.col {
    align-items: stretch;
    margin: 3px 0;
}

header h1 {
    /*background: #666;*/
    margin: 0;
    margin-bottom: 16px;
    padding: 4px;
    font-family: 'Roboto Black';
}

nav.col {
    margin: 4px 0;
    align-items: stretch;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-start !important;
    overflow-x: scroll;
    /*
	scrollbar-color: #222 var(--lbl-bg);
	scrollbar-width: initial;
	*/
}


/* To show and style scrollbar */

nav ul::-webkit-scrollbar {
    height: 6px;
    background: #f2f2f2;
}

nav ul::-webkit-scrollbar-track {
    background: var(--lbl-bg);
    /*box-shadow: inset 0 0 3px -1px rgba(0,0,0,0.3);
*/
}

nav ul::-webkit-scrollbar-thumb {
    background: #4565bb;
}

nav ul.disabled::-webkit-scrollbar {
    height: 6px;
    background: #e9e9e9;
}

nav ul.disabled::-webkit-scrollbar-track {
    background: #e9e9e9;
}

nav ul.disabled::-webkit-scrollbar-thumb {
    background: #555;
}

nav li {
    min-width: 70px;
    justify-content: stretch;
    flex: 2 1 auto;
}

nav li label {
    background: var(--lbl-bg);
    padding: 8px;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    flex: 2 1 auto;
}

nav li label.active {
    background: var(--lbl-act-bg);
}

nav li label.disabled {
    color: #777;
    background: #e9e9e9;
}

nav li label.active.disabled {
    background: #ccc;
}

nav li label input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
}


/*speed selector range input*/

#speedSelector {
    display: inline-flex;
    width: 80%;
    margin-left: auto;
}


/*Board related*/

#boardWrapper {
    /*background: #666;*/
    margin-top: 10px;
    align-items: stretch;
}

#openColorInfo {
    width: 36px;
    height: 36px;
    padding: 4px;
    background-color: none;
    border: 2px solid transparent;
    border-radius: 32px;
    font-size: 30px;
    align-self: flex-end;
}

#openColorInfo:hover {
    background-color: #d0d0d7;
}

#openColorInfo:focus {
    border-color: #222;
}

#openColorInfo:active {
    background-color: #b3b3b9;
}

#colorInfoWrapper {
    --ciwT: calc(50vh - 86px);
    --ciwR: calc(50vw - 86px);
    display: none;
    position: absolute;
    top: var(--ciwT);
    right: var(--ciwR);
    background: var(--ci-bg);
    border: 1px solid var(--ci-brd-clr);
    border-radius: 3px;
    box-shadow: var(--ci-box-shd);
    padding: 4px;
}

#colorInfoWrapper:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: 10px;
    top: -6px;
    background: var(--ci-bg);
    box-shadow: var(--ci-box-shd);
    transform: rotate(45deg);
    z-index: -1;
}

#colorInfoWrapper:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: 10px;
    top: -6px;
    background: var(--ci-bg);
    border-top: 1px solid var(--ci-brd-clr);
    border-left: 1px solid var(--ci-brd-clr);
    transform: rotate(45deg);
    z-index: 2;
}

#colorInfoWrapper .colorWrap {
    margin: 4px;
    background: var(--ci-bg);
    font-size: 13px;
    justify-content: start;
}

.colorWrap span.colorBox {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
}

.colorBox+span {
    padding: 0 4px;
}

#board {
    background: transparent;
    height: 310px;
    margin: 8px 0;
    align-items: flex-end;
}

.bar {
    width: var(--barW);
    margin: var(--barM);
    justify-content: flex-start;
    align-items: stretch;
    font-size: 12px;
}

.colorBox.unsorted,
.bar {
    background: var(--unsorted);
}

.current {
    background: var(--current);
}

.pivot {
    background: var(--pivot);
}

.low {
    background: var(--low);
}

.high {
    background: var(--high);
}

.currI {
    background: var(--currI);
}

.min {
    background: var(--min);
}

.max {
    background: var(--max);
}

.swap {
    background: var(--swap);
}

.sorted {
    background: var(--sorted);
}

.bar span {
    background: rgba(255, 255, 255, 0.6);
    margin: 2px;
    padding: 2px;
    font-size: 13px;
    font-family: Monospace;
    /*transform: rotate(180deg);
	/*writing-mode: vertical-lr;*/
}

#btn-div button {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    /*flex: 2 1 auto;*/
}

#btn-div button:first-child {
    margin-right: 10px;
}